## Task 1|

In [3]:
import xml.etree.ElementTree as ET

tree = ET.parse("Titanic.xml")

root  = tree.getroot()

print(root.tag)

data

In [6]:
xmldata = open("Titanic.xml",'r')
xmltree = ET.fromstring(xmldata.read())

values = [ 2 , 4 , 8, 16 , 32]

data = [ ]
for i in values :
        Name = xmltree[i].find('Name').text
        Sex = xmltree[i].find("Sex").text
        data.append( {
            "Name" : Name,
            "Gender" : Sex   
        })

In [14]:
data[0]['Gender']

'female'

In [15]:
for value in data:
    print(value)

{'Name': 'Heikkinen, Miss. Laina', 'Gender': 'female'}
{'Name': 'Allen, Mr. William Henry', 'Gender': 'male'}
{'Name': 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'Gender': 'female'}
{'Name': 'Rice, Master. Eugene', 'Gender': 'male'}
{'Name': 'Glynn, Miss. Mary Agatha', 'Gender': 'female'}

In [22]:
import csv

csv_file = "./Titanic.csv"

try :
    
    theo_csv = open(csv_file, 'w')
    csvwriter = csv.writer(theo_csv)
    head = ["Name", "Gender"]
    csvwriter.writerow(head)
    
    for i in range(len(data)):
        row = [ ]
        row.append(data[i]["Name"])
        row.append(data[i]["Gender"])
        csvwriter.writerow(row)
except FileNotFoundError:
    print('Could not open the file:'.format(csv_file))
except IOError:
    print('Could not write to the file:'.format(csv_file))
finally :
    theo_csv.close()

In [27]:
data = [ ]
for child in root:
    if child.find('Age').text is not None and float(child.find('Age').text) < 30.0 and child.find('Pclass').text in ['1','2']:
        Name = child.find('Name').text
        Sex = child.find("Sex").text
        Cabin = child.find("Cabin").text
        Ticket = child.find("Ticket").text
        PassengerId = child.find("PassengerId").text
        data.append( {
            "Name" : Name,
            "Gender" : Sex,
            "Cabin" : Cabin,
            "Ticket" : Ticket,
            "PassengerId" : PassengerId,
        })

In [28]:
data

[{'Name': 'Nasser, Mrs. Nicholas (Adele Achem)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '237736',
  'PassengerId': '10'},
 {'Name': 'Sloper, Mr. William Thompson',
  'Gender': 'male',
  'Cabin': 'A6',
  'Ticket': '113788',
  'PassengerId': '24'},
 {'Name': 'Fortune, Mr. Charles Alexander',
  'Gender': 'male',
  'Cabin': 'C23 C25 C27',
  'Ticket': '19950',
  'PassengerId': '28'},
 {'Name': 'Meyer, Mr. Edgar Joseph',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'PC 17604',
  'PassengerId': '35'},
 {'Name': 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '11668',
  'PassengerId': '42'},
 {'Name': 'Laroche, Miss. Simonne Marie Anne Andree',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': 'SC/Paris 2123',
  'PassengerId': '44'},
 {'Name': 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '2926',
  'PassengerId': '54'},
 {'Name': 'Rugg, Miss. Emily',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': 'C.A. 31026',
  'PassengerId': '57'},
 {'Name': 'West, Miss. Constance Mirium',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': 'C.A. 34651',
  'PassengerId': '59'},
 {'Name': 'Nye, Mrs. (Elizabeth Ramell)',
  'Gender': 'female',
  'Cabin': 'F33',
  'Ticket': 'C.A. 29395',
  'PassengerId': '67'},
 {'Name': 'Hood, Mr. Ambrose Jr',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'S.O.C. 14879',
  'PassengerId': '73'},
 {'Name': 'Caldwell, Master. Alden Gates',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '248738',
  'PassengerId': '79'},
 {'Name': 'Carrau, Mr. Francisco M',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '113059',
  'PassengerId': '84'},
 {'Name': 'Ilett, Miss. Bertha',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': 'SO/C 14885',
  'PassengerId': '85'},
 {'Name': 'Fortune, Miss. Mabel Helen',
  'Gender': 'female',
  'Cabin': 'C23 C25 C27',
  'Ticket': '19950',
  'PassengerId': '89'},
 {'Name': 'Greenfield, Mr. William Bertram',
  'Gender': 'male',
  'Cabin': 'D10 D12',
  'Ticket': 'PC 17759',
  'PassengerId': '98'},
 {'Name': 'White, Mr. Richard Frasar',
  'Gender': 'male',
  'Cabin': 'D26',
  'Ticket': '35281',
  'PassengerId': '103'},
 {'Name': 'Turpin, Mr. William John Robert',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '11668',
  'PassengerId': '118'},
 {'Name': 'Baxter, Mr. Quigg Edmond',
  'Gender': 'male',
  'Cabin': 'B58 B60',
  'Ticket': 'PC 17558',
  'PassengerId': '119'},
 {'Name': 'Hickman, Mr. Stanley George',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'S.O.C. 14879',
  'PassengerId': '121'},
 {'Name': 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '228414',
  'PassengerId': '134'},
 {'Name': 'Sobey, Mr. Samuel James Hayden',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'C.A. 29178',
  'PassengerId': '135'},
 {'Name': 'Richard, Mr. Emile',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'SC/PARIS 2133',
  'PassengerId': '136'},
 {'Name': 'Newsom, Miss. Helen Monypeny',
  'Gender': 'female',
  'Cabin': 'D47',
  'Ticket': '11752',
  'PassengerId': '137'},
 {'Name': 'Giglio, Mr. Victor',
  'Gender': 'male',
  'Cabin': 'B86',
  'Ticket': 'PC 17593',
  'PassengerId': '140'},
 {'Name': 'Andrew, Mr. Edgardo Samuel',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '231945',
  'PassengerId': '145'},
 {'Name': 'Nicholls, Mr. Joseph Charles',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'C.A. 33112',
  'PassengerId': '146'},
 {'Name': 'Pears, Mrs. Thomas (Edith Wearne)',
  'Gender': 'female',
  'Cabin': 'C2',
  'Ticket': '113776',
  'PassengerId': '152'},
 {'Name': 'Becker, Master. Richard F',
  'Gender': 'male',
  'Cabin': 'F4',
  'Ticket': '230136',
  'PassengerId': '184'},
 {'Name': 'Carbines, Mr. William',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '28424',
  'PassengerId': '192'},
 {'Name': 'Navratil, Master. Michel M',
  'Gender': 'male',
  'Cabin': 'F2',
  'Ticket': '230080',
  'PassengerId': '194'},
 {'Name': 'Yrois, Miss. Henriette ("Mrs Harbeck")',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '248747',
  'PassengerId': '200'},
 {'Name': 'Bracken, Mr. James H',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '220367',
  'PassengerId': '222'},
 {'Name': 'Mellors, Mr. William John',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'SW/PP 751',
  'PassengerId': '227'},
 {'Name': 'Fahlstrom, Mr. Arne Jonas',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '236171',
  'PassengerId': '229'},
 {'Name': 'Leyson, Mr. Robert William Norman',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'C.A. 29566',
  'PassengerId': '235'},
 {'Name': 'Collyer, Miss. Marjorie "Lottie"',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': 'C.A. 31921',
  'PassengerId': '238'},
 {'Name': 'Pengelly, Mr. Frederick William',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '28665',
  'PassengerId': '239'},
 {'Name': 'Coleridge, Mr. Reginald Charles',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'W./C. 14263',
  'PassengerId': '243'},
 {'Name': 'Hamalainen, Mrs. William (Anna)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '250649',
  'PassengerId': '248'},
 {'Name': 'Barber, Miss. Ellen "Nellie"',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '19877',
  'PassengerId': '291'},
 {'Name': 'Bishop, Mrs. Dickinson H (Helen Walton)',
  'Gender': 'female',
  'Cabin': 'B49',
  'Ticket': '11967',
  'PassengerId': '292'},
 {'Name': 'Allison, Miss. Helen Loraine',
  'Gender': 'female',
  'Cabin': 'C22 C26',
  'Ticket': '113781',
  'PassengerId': '298'},
 {'Name': 'Allison, Master. Hudson Trevor',
  'Gender': 'male',
  'Cabin': 'C22 C26',
  'Ticket': '113781',
  'PassengerId': '306'},
 {'Name': 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
  'Gender': 'female',
  'Cabin': 'C65',
  'Ticket': 'PC 17758',
  'PassengerId': '308'},
 {'Name': 'Hays, Miss. Margaret Bechstein',
  'Gender': 'female',
  'Cabin': 'C54',
  'Ticket': '11767',
  'PassengerId': '311'},
 {'Name': 'Ryerson, Miss. Emily Borie',
  'Gender': 'female',
  'Cabin': 'B57 B59 B63 B66',
  'Ticket': 'PC 17608',
  'PassengerId': '312'},
 {'Name': 'Lahtinen, Mrs. William (Anna Sylfven)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '250651',
  'PassengerId': '313'},
 {'Name': 'Kantor, Mrs. Sinai (Miriam Sternin)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '244367',
  'PassengerId': '317'},
 {'Name': 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '248738',
  'PassengerId': '324'},
 {'Name': 'Hippach, Miss. Jean Gertrude',
  'Gender': 'female',
  'Cabin': 'B18',
  'Ticket': '111361',
  'PassengerId': '330'},
 {'Name': 'Pears, Mr. Thomas Clinton',
  'Gender': 'male',
  'Cabin': 'C2',
  'Ticket': '113776',
  'PassengerId': '337'},
 {'Name': 'Navratil, Master. Edmond Roger',
  'Gender': 'male',
  'Cabin': 'F2',
  'Ticket': '230080',
  'PassengerId': '341'},
 {'Name': 'Fortune, Miss. Alice Elizabeth',
  'Gender': 'female',
  'Cabin': 'C23 C25 C27',
  'Ticket': '19950',
  'PassengerId': '342'},
 {'Name': 'Collander, Mr. Erik Gustaf',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '248740',
  'PassengerId': '343'},
 {'Name': 'Sedgwick, Mr. Charles Frederick Waddington',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '244361',
  'PassengerId': '344'},
 {'Name': 'Brown, Miss. Amelia "Mildred"',
  'Gender': 'female',
  'Cabin': 'F33',
  'Ticket': '248733',
  'PassengerId': '346'},
 {'Name': 'Bowerman, Miss. Elsie Edith',
  'Gender': 'female',
  'Cabin': 'E33',
  'Ticket': '113505',
  'PassengerId': '357'},
 {'Name': 'del Carlo, Mr. Sebastiano',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'SC/PARIS 2167',
  'PassengerId': '362'},
 {'Name': 'Aubart, Mme. Leontine Pauline',
  'Gender': 'female',
  'Cabin': 'B35',
  'Ticket': 'PC 17477',
  'PassengerId': '370'},
 {'Name': 'Harder, Mr. George Achilles',
  'Gender': 'male',
  'Cabin': 'E50',
  'Ticket': '11765',
  'PassengerId': '371'},
 {'Name': 'Ringhini, Mr. Sante',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'PC 17760',
  'PassengerId': '374'},
 {'Name': 'Widener, Mr. Harry Elkins',
  'Gender': 'male',
  'Cabin': 'C82',
  'Ticket': '113503',
  'PassengerId': '378'},
 {'Name': 'Davies, Mr. Charles Henry',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'S.O.C. 14879',
  'PassengerId': '386'},
 {'Name': 'Lehmann, Miss. Bertha',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': 'SC 1748',
  'PassengerId': '390'},
 {'Name': 'Newell, Miss. Marjorie',
  'Gender': 'female',
  'Cabin': 'D36',
  'Ticket': '35273',
  'PassengerId': '394'},
 {'Name': 'Pain, Dr. Alfred',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '244278',
  'PassengerId': '399'},
 {'Name': 'Trout, Mrs. William H (Jessie L)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '240929',
  'PassengerId': '400'},
 {'Name': 'Richards, Master. William Rowe',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '29106',
  'PassengerId': '408'},
 {'Name': 'Silven, Miss. Lyyli Karoliina',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '250652',
  'PassengerId': '418'},
 {'Name': 'Clarke, Mrs. Charles V (Ada Maria Winfield)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '2003',
  'PassengerId': '427'},
 {'Name': 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '250655',
  'PassengerId': '428'},
 {'Name': 'Bjornstrom-Steffansson, Mr. Mauritz Hakan',
  'Gender': 'male',
  'Cabin': 'C52',
  'Ticket': '110564',
  'PassengerId': '431'},
 {'Name': 'Carter, Miss. Lucile Polk',
  'Gender': 'female',
  'Cabin': 'B96 B98',
  'Ticket': '113760',
  'PassengerId': '436'},
 {'Name': 'Richards, Mrs. Sidney (Emily Hocking)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '29106',
  'PassengerId': '438'},
 {'Name': 'Reynaldo, Ms. Encarnacion',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '230434',
  'PassengerId': '444'},
 {'Name': 'Dodge, Master. Washington',
  'Gender': 'male',
  'Cabin': 'A34',
  'Ticket': '33638',
  'PassengerId': '446'},
 {'Name': 'Mellinger, Miss. Madeleine Violet',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '250644',
  'PassengerId': '447'},
 {'Name': 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)',
  'Gender': 'female',
  'Cabin': 'D',
  'Ticket': 'SC/AH Basle 541',
  'PassengerId': '474'},
 {'Name': 'Bishop, Mr. Dickinson H',
  'Gender': 'male',
  'Cabin': 'B49',
  'Ticket': '11967',
  'PassengerId': '485'},
 {'Name': 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
  'Gender': 'female',
  'Cabin': 'C22 C26',
  'Ticket': '113781',
  'PassengerId': '499'},
 {'Name': 'Maioni, Miss. Roberta',
  'Gender': 'female',
  'Cabin': 'B79',
  'Ticket': '110152',
  'PassengerId': '505'},
 {'Name': 'Penasco y Castellana, Mr. Victor de Satode',
  'Gender': 'male',
  'Cabin': 'C65',
  'Ticket': 'PC 17758',
  'PassengerId': '506'},
 {'Name': 'Hocking, Mr. Richard George',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '29104',
  'PassengerId': '530'},
 {'Name': 'Quick, Miss. Phyllis May',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '26360',
  'PassengerId': '531'},
 {'Name': 'Hart, Miss. Eva Miriam',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': 'F.C.C. 13529',
  'PassengerId': '536'},
 {'Name': 'Frolicher, Miss. Hedwig Margaritha',
  'Gender': 'female',
  'Cabin': 'B39',
  'Ticket': '13568',
  'PassengerId': '540'},
 {'Name': 'Beane, Mrs. Edward (Ethel Clarke)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '2908',
  'PassengerId': '547'},
 {'Name': 'Davies, Master. John Morgan Jr',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'C.A. 33112',
  'PassengerId': '550'},
 {'Name': 'Thayer, Mr. John Borland Jr',
  'Gender': 'male',
  'Cabin': 'C70',
  'Ticket': '17421',
  'PassengerId': '551'},
 {'Name': 'Sharp, Mr. Percival James R',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '244358',
  'PassengerId': '552'},
 {'Name': 'Norman, Mr. Robert Douglas',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '218629',
  'PassengerId': '563'},
 {'Name': 'Christy, Miss. Julie Rachel',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '237789',
  'PassengerId': '581'},
 {'Name': 'Taussig, Miss. Ruth',
  'Gender': 'female',
  'Cabin': 'E68',
  'Ticket': '110413',
  'PassengerId': '586'},
 {'Name': 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '243847',
  'PassengerId': '601'},
 {'Name': 'Daniel, Mr. Robert Williams',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '113804',
  'PassengerId': '608'},
 {'Name': 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': 'SC/Paris 2123',
  'PassengerId': '609'},
 {'Name': 'Herman, Miss. Alice',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '220845',
  'PassengerId': '616'},
 {'Name': 'Becker, Miss. Marion Louise',
  'Gender': 'female',
  'Cabin': 'F4',
  'Ticket': '230136',
  'PassengerId': '619'},
 {'Name': 'Gavey, Mr. Lawrence',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '31028',
  'PassengerId': '620'},
 {'Name': 'Longley, Miss. Gretchen Fiske',
  'Gender': 'female',
  'Cabin': 'D9',
  'Ticket': '13502',
  'PassengerId': '628'},
 {'Name': 'Davis, Miss. Mary',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '237668',
  'PassengerId': '636'},
 {'Name': 'Sagesser, Mlle. Emma',
  'Gender': 'female',
  'Cabin': 'B35',
  'Ticket': 'PC 17477',
  'PassengerId': '642'},
 {'Name': 'Doling, Miss. Elsie',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '231919',
  'PassengerId': '652'},
 {'Name': 'Hickman, Mr. Leonard Mark',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'S.O.C. 14879',
  'PassengerId': '656'},
 {'Name': 'Eitemiller, Mr. George Floyd',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '29751',
  'PassengerId': '659'},
 {'Name': 'Butler, Mr. Reginald Fenton',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '234686',
  'PassengerId': '667'},
 {'Name': 'Hassab, Mr. Hammad',
  'Gender': 'male',
  'Cabin': 'D49',
  'Ticket': 'PC 17572',
  'PassengerId': '682'},
 {'Name': 'Laroche, Mr. Joseph Philippe Lemercier',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'SC/Paris 2123',
  'PassengerId': '686'},
 {'Name': 'Madill, Miss. Georgette Alexandra',
  'Gender': 'female',
  'Cabin': 'B5',
  'Ticket': '24160',
  'PassengerId': '690'},
 {'Name': 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)',
  'Gender': 'female',
  'Cabin': 'C62 C64',
  'Ticket': 'PC 17757',
  'PassengerId': '701'},
 {'Name': 'Cleaver, Miss. Alice',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '113781',
  'PassengerId': '709'},
 {'Name': 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")',
  'Gender': 'female',
  'Cabin': 'C90',
  'Ticket': 'PC 17482',
  'PassengerId': '711'},
 {'Name': 'Troutt, Miss. Edwina Celia "Winnie"',
  'Gender': 'female',
  'Cabin': 'E101',
  'Ticket': '34218',
  'PassengerId': '718'},
 {'Name': 'Harper, Miss. Annie Jessie "Nina"',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '248727',
  'PassengerId': '721'},
 {'Name': 'Chambers, Mr. Norman Campbell',
  'Gender': 'male',
  'Cabin': 'E8',
  'Ticket': '113806',
  'PassengerId': '725'},
 {'Name': 'Bryhl, Mr. Kurt Arnold Gottfrid',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '236853',
  'PassengerId': '729'},
 {'Name': 'Allen, Miss. Elisabeth Walton',
  'Gender': 'female',
  'Cabin': 'B5',
  'Ticket': '24160',
  'PassengerId': '731'},
 {'Name': 'Berriman, Mr. William John',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '28425',
  'PassengerId': '734'},
 {'Name': 'Troupiansky, Mr. Moses Aaron',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '233639',
  'PassengerId': '735'},
 {'Name': 'Ryerson, Miss. Susan Parker "Suzette"',
  'Gender': 'female',
  'Cabin': 'B57 B59 B63 B66',
  'Ticket': 'PC 17608',
  'PassengerId': '743'},
 {'Name': 'Marvin, Mr. Daniel Warner',
  'Gender': 'male',
  'Cabin': 'D30',
  'Ticket': '113773',
  'PassengerId': '749'},
 {'Name': 'Wells, Miss. Joan',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '29103',
  'PassengerId': '751'},
 {'Name': 'Hamalainen, Master. Viljo',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '250649',
  'PassengerId': '756'},
 {'Name': 'Bailey, Mr. Percy Andrew',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '29108',
  'PassengerId': '758'},
 {'Name': 'Dick, Mrs. Albert Adrian (Vera Gillespie)',
  'Gender': 'female',
  'Cabin': 'B20',
  'Ticket': '17474',
  'PassengerId': '782'},
 {'Name': 'Long, Mr. Milton Clyde',
  'Gender': 'male',
  'Cabin': 'D6',
  'Ticket': '113501',
  'PassengerId': '783'},
 {'Name': 'Gaskell, Mr. Alfred',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '239865',
  'PassengerId': '792'},
 {'Name': 'Carter, Master. William Thornton II',
  'Gender': 'male',
  'Cabin': 'B96 B98',
  'Ticket': '113760',
  'PassengerId': '803'},
 {'Name': 'Mallet, Master. Andre',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'S.C./PARIS 2079',
  'PassengerId': '828'},
 {'Name': 'Richards, Master. George Sibley',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '29106',
  'PassengerId': '832'},
 {'Name': 'Mudd, Mr. Thomas Charles',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'S.O./P.P. 3',
  'PassengerId': '842'},
 {'Name': 'Harper, Rev. John',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '248727',
  'PassengerId': '849'},
 {'Name': 'Lines, Miss. Mary Conover',
  'Gender': 'female',
  'Cabin': 'D28',
  'Ticket': 'PC 17592',
  'PassengerId': '854'},
 {'Name': 'Giles, Mr. Frederick Edward',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '28134',
  'PassengerId': '862'},
 {'Name': 'Gill, Mr. John William',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '233866',
  'PassengerId': '865'},
 {'Name': 'Duran y More, Miss. Asuncion',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': 'SC/PARIS 2149',
  'PassengerId': '867'},
 {'Name': 'Abelson, Mrs. Samuel (Hannah Wizosky)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': 'P/PP 3381',
  'PassengerId': '875'},
 {'Name': 'Shelley, Mrs. William (Imanita Parrish Hall)',
  'Gender': 'female',
  'Cabin': None,
  'Ticket': '230433',
  'PassengerId': '881'},
 {'Name': 'Banfield, Mr. Frederick James',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': 'C.A./SOTON 34068',
  'PassengerId': '884'},
 {'Name': 'Montvila, Rev. Juozas',
  'Gender': 'male',
  'Cabin': None,
  'Ticket': '211536',
  'PassengerId': '887'},
 {'Name': 'Graham, Miss. Margaret Edith',
  'Gender': 'female',
  'Cabin': 'B42',
  'Ticket': '112053',
  'PassengerId': '888'},
 {'Name': 'Behr, Mr. Karl Howell',
  'Gender': 'male',
  'Cabin': 'C148',
  'Ticket': '111369',
  'PassengerId': '890'}]

In [29]:
import csv

csv_file = "./Passenger.csv"

try :
    
    theo_csv = open(csv_file, 'w')
    csvwriter = csv.writer(theo_csv)
    head = ["Name", "Gender" , "Cabin", "Ticket", "PassengerId" ]
    csvwriter.writerow(head)
    
    for i in range(len(data)):
        row = [ ]
        row.append(data[i]["Name"])
        row.append(data[i]["Gender"])
        row.append(data[i]["Cabin"])
        row.append(data[i]["Ticket"])
        row.append(data[i]["PassengerId"])
        csvwriter.writerow(row)
except FileNotFoundError:
    print('Could not open the file:'.format(csv_file))
except IOError:
    print('Could not write to the file:'.format(csv_file))
finally :
    theo_csv.close()

## Task 2

In [2]:
import numpy as np

In [3]:
x = np.arange(1,28)

In [4]:
matrix1 = x.reshape(3,3,3)

In [5]:
matrix1

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [6]:
data = [[[9, 8, 7], [6, 5, 4], [3, 2, 1]],
        [[27, 26, 25], [24, 23, 22], [21, 20, 19]],
        [[18, 17, 16], [15, 14, 13], [12, 11, 10]]]

matrix2 = np.array(data)

In [7]:
matrix2

array([[[ 9,  8,  7],
        [ 6,  5,  4],
        [ 3,  2,  1]],

       [[27, 26, 25],
        [24, 23, 22],
        [21, 20, 19]],

       [[18, 17, 16],
        [15, 14, 13],
        [12, 11, 10]]])

In [8]:
"""
1. Extract the diagonal from the each dimension of each matrix.

"""
diagonal1 = np.diagonal(matrix1, axis1=1, axis2=2)  # 1st main diagonal  
diagonal2 = np.diagonal(matrix2, axis1=1, axis2=2)  # 1st main diagonal  

diagonals_1 = np.array([diagonal1])
diagonals_2 = np.array([diagonal2])

In [9]:
diagonals_1

array([[[ 1,  5,  9],
        [10, 14, 18],
        [19, 23, 27]]])

In [10]:
diagonals_2

array([[[ 9,  5,  1],
        [27, 23, 19],
        [18, 14, 10]]])

In [11]:
"""
2. Take sum of diagonals obtained from Matrix1 and Matrix2 element-wise to get a new 2D 
matrix. [10 marks]
"""
result = diagonals_1 + diagonals_2
result

array([[[10, 10, 10],
        [37, 37, 37],
        [37, 37, 37]]])

In [12]:
"""
(b) Take product of diagonals obtained from Matrix1 and Matrix2 element-wise to get a new 2D matrix.

"""

product = diagonals_1 * diagonals_2

product

array([[[  9,  25,   9],
        [270, 322, 342],
        [342, 322, 270]]])

In [13]:
"""
(c) Calculate the sum of all the elements in the resulting product.

"""
result = np.sum(product)
result

1911

In [16]:
"""
Calculate the variance of the values in the flattened (1D) version of the matrices. Hint use Numpy var 
function [10 marks]
"""

m1 = np.ravel(matrix1 , order = 'c')
m2 = np.ravel(matrix2 , order = 'c')

In [17]:
print("Variance (Matrix 1) : ", np.var(m1))
print("Variance (Matrix 2) : ", np.var(m2))

Variance (Matrix 1) :  60.666666666666664
Variance (Matrix 2) :  60.666666666666664

In [29]:
"""
(e) Create two new ndarrays each containing 10 values. The first should have evenly spaced values from 20 
to 60. The second should contain evenly spaced values from 10 to 30. Add together corresponding array 
entry values from each of the two arrays, i.e. perform the addition element-wise. [5 marks]

"""

array_1 = np.arange(20,60,4)
array_2 = np.arange(10,30,2)

result = array_1 + array_2

result

array([30, 36, 42, 48, 54, 60, 66, 72, 78, 84])

## Task 3 (20 marks)

In [ ]:
import re

def is_valid_class_c_ipv4_address(ip_str):
    # Define a regular expression pattern for Class C IPv4 address
    pattern = r'^(19[2-9]|2[01][0-9]|22[0-3])\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$'

    # Use re.match to check if the string matches the pattern
    if re.match(pattern, ip_str):
        return True
    else:
        return False

# Test the function
ip_address = "192.168.1.1"
if is_valid_class_c_ipv4_address(ip_address):
    print(f"{ip_address} is a valid Class C IPv4 address")
else:
    print(f"{ip_address} is not a valid Class C IPv4 address")