## LAB 2 Solutions

### 1) Using the type function, determine the datatype of the following literal values:
a) 'a'
b) 'abcd'
c) u'abcd'
d) "x"
e) "yz"
f) 122
g) 02
h) 09
i) 0x2
j) True
k) true
l) (1, 2)
m) ["1", 2]
n) {123: "abc", 345: "alive"}

In [2]:
my_list = ['a', 'abcd', u'abcd', "x", "yz", 122, 2, 9, 0x2, True, False, (1, 2), ["1", 2], {123: "abc", 345: "alive"}]

for i in my_list:
    print(i , " Data type : ", type(i))

a  Data type :  <class 'str'>
abcd  Data type :  <class 'str'>
abcd  Data type :  <class 'str'>
x  Data type :  <class 'str'>
yz  Data type :  <class 'str'>
122  Data type :  <class 'int'>
2  Data type :  <class 'int'>
9  Data type :  <class 'int'>
2  Data type :  <class 'int'>
True  Data type :  <class 'bool'>
False  Data type :  <class 'bool'>
(1, 2)  Data type :  <class 'tuple'>
['1', 2]  Data type :  <class 'list'>
{123: 'abc', 345: 'alive'}  Data type :  <class 'dict'>

### 2) Investigate the use of the id function. Enter the following and note the return value in each case. Are the return values equal or unequal? If they are equal, then why is this the case?

` x = "a"
y = "a"
print(id(x))
print(id(y))
x = "another string"
y = "another string"
print(id(x))
print(id(y)) `

In [3]:
x = "a"
y = "a"
print(id(x))
print(id(y))

x = "another string"
y = "another string"
print(id(x))
print(id(y))

2201700966320
2201700966320
2201780726064
2201780721520

### 3) Create a list to store the following values: 1, 2, 3, 4, 5, 6 and assign this
- list to a variable called myList .
- Print the contents myList .
- Print the contents of myList in reverse using index slicing.
- Print the contents of myList in reverse using a loop.
- Append 10 random integers to myList using a loop.
- Extend myList with the following list [200, 300] .
- Store the last number in the list in a variable called lastVal and remove that value from myList . [Note: for this task you should investigate using the pop()
method.]

In [38]:
my_list = [1, 2, 3, 4, 5, 6]

# Reverse list using index slicing 
print(my_list[::-1])

for i in reversed(range(len(my_list))):
    print(my_list[i] , end = " ")

[6, 5, 4, 3, 2, 1]
6 5 4 3 2 1

In [48]:
# Generating 10 random variables
import random

my_list = [ ]

for i in range(0,10):
    n = random.randint(0,10)
    my_list.append(n)
    


another_list = [200,300]

my_list.extend(another_list)

my_list

[2, 1, 3, 0, 6, 8, 6, 10, 6, 7, 200, 300]

In [50]:
lastVal = my_list.pop()
lastVal

300

In [53]:

statesAndCapitals = {
    'Gujarat': 'Gandhinagar',
    'Maharashtra': 'Mumbai',
    'Rajasthan': 'Jaipur',
    'Bihar': 'Patna'
}

statesAndCapitals['Gujarat'] = 'Pune'

In [54]:
statesAndCapitals['Gujarat']

'Pune'

### 4) Create an empty dictionary object called myDict . Using a loop structure, add an entry to myDict for each value in myList . The key values for entries in myDict should be integer values commencing at 0 .

In [57]:
mydict = { }
for i in range(len(my_list)):
    mydict[i] = my_list[i]

In [58]:
mydict

{0: 2, 1: 1, 2: 3, 3: 0, 4: 6, 5: 8, 6: 6, 7: 10, 8: 6, 9: 7, 10: 200}

### Pascal's Triangle

In [77]:
def PascalsTriangle(n):
    
    for i in range(0,n):
        print(" ")
        for j in range(0,i+1):
            print(j ,"\t", end = " ")

In [79]:
PascalsTriangle(10)

0
0 	 1
0 	 1 	 2
0 	 1 	 2 	 3
0 	 1 	 2 	 3 	 4
0 	 1 	 2 	 3 	 4 	 5
0 	 1 	 2 	 3 	 4 	 5 	 6
0 	 1 	 2 	 3 	 4 	 5 	 6 	 7
0 	 1 	 2 	 3 	 4 	 5 	 6 	 7 	 8
0 	 1 	 2 	 3 	 4 	 5 	 6 	 7 	 8 	 9