1) Using a lambda expression, create mul by num() function. This function should take a numeric argument and return a one argument function that multiplies any value passed to it by the original number. Its body must be one line long.

In [ ]:
"""
def mul_by_num(num):
 
Returns a function that takes one argument
and returns num
times that argument.
x = mul_by_num(5)
y = mul_by_num(2)
x(3)
15
y(-4)
-8

Your code goes here
return _____
"""

In [3]:
def mul_by_num(num):
    """
    Returns a function that takes one argument
    and returns num
    times that argument.
    x = mul_by_num(5)
    y = mul_by_num(2)
    x(3)
    15
    y(-4)
    -8
    """
    return lambda x : x * num

x = mul_by_num(5)
print(x(3))

y = mul_by_num(2)
print(y(-4))

15
-8

2 ) Fibonacci numbers are numbers in the following integer sequence.
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...
In mathematical terms, the sequence Fn of Fibonacci numbers is defined by a recurrence
relation:
Fn = Fn − 1 + Fn − 2 with seed values F0 = 0 and F1 = 1.
Produce the series of Fibonacci numbers using a lambda function.

In [1]:
fibonacci = lambda n: n if n <= 1 else fibonacci(n - 1) + fibonacci(n - 2)

# Change the value of 'n' to determine how many Fibonacci numbers you want
n = 10
fib_series = [fibonacci(i) for i in range(n)]

print(fib_series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

3) Create a script that check if a page is present on the server or return an error. Use
    the urllib seen during the lecture.

In [3]:
import urllib.request

request_url = urllib.request.urlopen('https://www.geeksforgeeks.org/')

### Read XML file in Python

5. Write a program to read the XML file people.xml and output a CSV file and JSON file with
    the same information.
    Validate the JSON using JSONLint.
    Import the CSV using Excel or another spreadsheet program

In [3]:
import xml.etree.ElementTree as ET
import pandas as pd

In [4]:
tree = ET.parse("people.xml")

In [5]:
root  = tree.getroot()

print(root.tag)

people

In [24]:
df = pd.DataFrame(columns=["person_id","first_name","last_name","email","gender","phone"])

In [25]:
df

Empty DataFrame
Columns: [person_id, first_name, last_name, email, gender, phone]
Index: []

In [26]:
data = [ ]
for child in root :
        person_id = child.find("person_id").text
        first_name = child.find("first_name").text
        last_name = child.find("last_name").text
        email = child.find("email").text
        gender = child.find("gender").text
        phone = child.find("phone").text
        
        data.append( {
            "person_id" : person_id,
            "first_name" : first_name,
            "last_name" : last_name,
            "email" : email,
            "gender" : gender,
            "phone" : phone   
        })
        
df = pd.DataFrame(data , columns=["person_id","first_name","last_name","email","gender","phone"])

In [27]:
df

,person_id,first_name,last_name,email,gender,phone
0,1,Mag,Calver,mcalver0@pcworld.com,Female,141-843-6732
1,2,Jae,Leathley,jleathley1@wufoo.com,Male,756-840-3114
2,3,Dotty,Port,dport2@narod.ru,Female,550-438-7239
3,4,Leonerd,McConnachie,lmcconnachie3@spotify.com,Male,999-625-4731
4,5,Shawn,Kinde,skinde4@pcworld.com,Female,308-741-0551
...,...,...,...,...,...,...
995,996,Velma,Fowle,vfowlern@imageshack.us,Female,780-720-4151
996,997,Francois,Wrate,fwratero@xinhuanet.com,Male,320-734-0615
997,998,Ewen,Crisell,ecrisellrp@woothemes.com,Male,832-956-4591
998,999,Rob,Beran,rberanrq@smugmug.com,Male,969-990-3067
999,1000,Alanson,Finley,afinleyrr@google.co.uk,Male,233-419-0173

In [28]:
df.to_csv('XMLtoCsv.csv')

In [31]:
df2 = df.drop(df.columns[0],axis=1)

In [46]:
df2 = df.set_index('person_id')

In [47]:
df2

,first_name,last_name,email,gender,phone
person_id,,,,,
1,Mag,Calver,mcalver0@pcworld.com,Female,141-843-6732
2,Jae,Leathley,jleathley1@wufoo.com,Male,756-840-3114
3,Dotty,Port,dport2@narod.ru,Female,550-438-7239
4,Leonerd,McConnachie,lmcconnachie3@spotify.com,Male,999-625-4731
5,Shawn,Kinde,skinde4@pcworld.com,Female,308-741-0551
...,...,...,...,...,...
996,Velma,Fowle,vfowlern@imageshack.us,Female,780-720-4151
997,Francois,Wrate,fwratero@xinhuanet.com,Male,320-734-0615
998,Ewen,Crisell,ecrisellrp@woothemes.com,Male,832-956-4591
999,Rob,Beran,rberanrq@smugmug.com,Male,969-990-3067
1000,Alanson,Finley,afinleyrr@google.co.uk,Male,233-419-0173

In [50]:
json = df.to_json()

In [52]:
df

,person_id,first_name,last_name,email,gender,phone
0,1,Mag,Calver,mcalver0@pcworld.com,Female,141-843-6732
1,2,Jae,Leathley,jleathley1@wufoo.com,Male,756-840-3114
2,3,Dotty,Port,dport2@narod.ru,Female,550-438-7239
3,4,Leonerd,McConnachie,lmcconnachie3@spotify.com,Male,999-625-4731
4,5,Shawn,Kinde,skinde4@pcworld.com,Female,308-741-0551
...,...,...,...,...,...,...
995,996,Velma,Fowle,vfowlern@imageshack.us,Female,780-720-4151
996,997,Francois,Wrate,fwratero@xinhuanet.com,Male,320-734-0615
997,998,Ewen,Crisell,ecrisellrp@woothemes.com,Male,832-956-4591
998,999,Rob,Beran,rberanrq@smugmug.com,Male,969-990-3067
999,1000,Alanson,Finley,afinleyrr@google.co.uk,Male,233-419-0173

In [54]:
df2.to_json('temp.json', orient='records', lines=True)

6. Optional!
Have you completed all the tasks early and do feel like taking on an additional challenge?
Filter the XML file to include only those people living in Ireland. Output the resulting
filtered XML in both CSV and JSON format. For some clues as to how you might approach
this, check out the ElementTree documentation.

In [6]:
root  = tree.getroot()

print(root.tag)

people

In [27]:
data = [ ]
for child in root :
        for value in child :
            if value.tag == "address" and value.find("country").text == "Ireland":
                person_id = child.find("person_id").text
                first_name = child.find("first_name").text
                last_name = child.find("last_name").text
                email = child.find("email").text
                gender = child.find("gender").text
                phone = child.find("phone").text

                data.append( {
                    "person_id" : person_id,
                    "first_name" : first_name,
                    "last_name" : last_name,
                    "email" : email,
                    "gender" : gender,
                    "phone" : phone   
                })

In [28]:
data

[{'person_id': '85',
  'first_name': 'Vallie',
  'last_name': 'Nanelli',
  'email': 'vnanelli2c@ucoz.com',
  'gender': 'Female',
  'phone': '697-802-2286'},
 {'person_id': '106',
  'first_name': 'Godfrey',
  'last_name': 'Lehrahan',
  'email': 'glehrahan2x@howstuffworks.com',
  'gender': 'Male',
  'phone': '279-339-7758'},
 {'person_id': '253',
  'first_name': 'Conrade',
  'last_name': 'Gye',
  'email': 'cgye70@furl.net',
  'gender': 'Male',
  'phone': '792-740-0191'},
 {'person_id': '596',
  'first_name': 'Talia',
  'last_name': 'Baumann',
  'email': 'tbaumanngj@gnu.org',
  'gender': 'Female',
  'phone': '906-637-2679'},
 {'person_id': '821',
  'first_name': 'Haily',
  'last_name': 'Woodus',
  'email': 'hwoodusms@mapy.cz',
  'gender': 'Male',
  'phone': '900-410-6225'},
 {'person_id': '982',
  'first_name': 'Gib',
  'last_name': 'Sharple',
  'email': 'gsharpler9@chicagotribune.com',
  'gender': 'Male',
  'phone': '315-369-4117'}]

In [29]:
df = pd.DataFrame(data , columns=["person_id","first_name","last_name","email","gender","phone"])

In [30]:
df

,person_id,first_name,last_name,email,gender,phone
0,85,Vallie,Nanelli,vnanelli2c@ucoz.com,Female,697-802-2286
1,106,Godfrey,Lehrahan,glehrahan2x@howstuffworks.com,Male,279-339-7758
2,253,Conrade,Gye,cgye70@furl.net,Male,792-740-0191
3,596,Talia,Baumann,tbaumanngj@gnu.org,Female,906-637-2679
4,821,Haily,Woodus,hwoodusms@mapy.cz,Male,900-410-6225
5,982,Gib,Sharple,gsharpler9@chicagotribune.com,Male,315-369-4117

In [31]:
df.to_csv('IrelandPeople.csv')

In [32]:
json = df.to_json()

In [33]:
json

'{"person_id":{"0":"85","1":"106","2":"253","3":"596","4":"821","5":"982"},"first_name":{"0":"Vallie","1":"Godfrey","2":"Conrade","3":"Talia","4":"Haily","5":"Gib"},"last_name":{"0":"Nanelli","1":"Lehrahan","2":"Gye","3":"Baumann","4":"Woodus","5":"Sharple"},"email":{"0":"vnanelli2c@ucoz.com","1":"glehrahan2x@howstuffworks.com","2":"cgye70@furl.net","3":"tbaumanngj@gnu.org","4":"hwoodusms@mapy.cz","5":"gsharpler9@chicagotribune.com"},"gender":{"0":"Female","1":"Male","2":"Male","3":"Female","4":"Male","5":"Male"},"phone":{"0":"697-802-2286","1":"279-339-7758","2":"792-740-0191","3":"906-637-2679","4":"900-410-6225","5":"315-369-4117"}}'

In [49]:
def mul(n):
    return lambda x : x * n

output_mul = mul(10) 
print(output_mul) # "m is a function which multiplies your arguments passed by 6"


print(output_mul(2))

# ===============================



def multiply(x , y , z ) : 
    return x * 10

<function mul.<locals>.<lambda> at 0x00000276E0EAAE60>
20

20

In [45]:
def outer(x,n):
   def inner(x):
      return x * n
   return inner(x\
                
output = outer(2,6)

output

12

In [46]:
def outer(n):
   def inner(x):
      return x * n
   return inner

output = outer(6)

final_output = output(2)

print(final_output)

12