### NumPy Excercise

In [18]:
import numpy as np

### Numpy ARANGE Function  np.arange( )
https://numpy.org/doc/stable/reference/generated/numpy.arange.html

In [19]:
a = np.arange(24)

### RESHAPE Function  array_name.reshape( number of sub array, rows, columns )
https://numpy.org/doc/stable/reference/generated/numpy.reshape.html

In [21]:
r = a.reshape(2,3,4)

###  2nd column for both the first and second sets of rows and columns of data

In [ ]:
for i in range(0,2):
    for j in range(len(a[0])):
        print(a[i][j][1])

### RAVEL Function , np.ravel( ) . FLATENING the array
https://numpy.org/doc/stable/reference/generated/numpy.ravel.html

In [ ]:
a = np.ravel(a , order = 'c')

### TRANSPOSE Function , np.transpose( )  . ( Interchange rows and columns)
https://numpy.org/doc/stable/reference/generated/numpy.transpose.html

In [ ]:
at = np.transpose(a)

### RESTACK Transpose Data in REVERSE Order using row_stack( )
https://numpy.org/doc/stable/reference/generated/numpy.row_stack.html

In [ ]:
reversed_array = np.row_stack(reversed(at))

### SPLIT Horizontally , np.hsplit( )
https://numpy.org/doc/stable/reference/generated/numpy.hsplit.html

In [ ]:
splited_array = np.hsplit(reversed_array, 2)