### Question 1 (55 marks)

The Northwind data set, provided in XML format on Moodle, includes details of employees, customers,
products and sales for a fictitious company.

- (a) Create a function to import this XML file. Your function must include appropriate exception
    handling clauses covering all possible error conditions and should return the parsed contents of the
    XML file. [15 marks]  
    
- (b) Using the function you created in a) above, load the XML file. Then use the print() function to
    display the ProductName and UnitPrice for the second, fourth, sixth, eighth and tenth products.
    Hint: the range() function might come in useful here! [15 marks]

In [2]:
# import xml lib
import xml.etree.cElementTree as ET
import pandas as pd

# parse xml file in the tree format
tree = ET.parse('NorthWind.xml')

#load the root of the tree i.e <northwind>
root = tree.getroot()

# As mentioned in b we have to print for no: 2,4,6,8 and 10 products
mylist = [2,4,6,8,10]


def get_elements(root):
    for child in root :
        if child.tag == 'Products':
            for grandchild in child:
                product_id = int(grandchild.get('ProductID'))
                if product_id in mylist:
                    print("Product ID : ", product_id)
                    print("Product Name : ", grandchild.find('ProductName').text)
                    print("Unit Price :", grandchild.find('UnitPrice').text)

- (c) Extract all the following fields or attributes for all customers who live in Mexico and save them to a
    CSV file:
    • CustomerID
    • CompanyName
    • ContactName
    • City
    • PostalCode
    Your code should contain appropriate exception handling clauses and the exported CSV file should
    contain the column names.

In [17]:
data = [ ]
for child in root :
        if child.tag == 'Customers':
            for grandchild in child:
                if grandchild.find('Country').text == 'Mexico':
                        CustomerID =  grandchild.get('CustomerID')
                        CompanyName  =  grandchild.find('CompanyName').text
                        ContactName = grandchild.find('ContactName').text
                        City        = grandchild.find('City').text
                        PostalCode  = grandchild.find('PostalCode').text
                        new_data = [CustomerID , CompanyName, ContactName , City, PostalCode]
                        data.append(new_data)

In [12]:
df = pd.DataFrame(data = data , columns=["CustomerID","CompanyName","ContactName","City","PostalCode"])

In [13]:
df

,CustomerID,CompanyName,ContactName,City,PostalCode
0,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,México D.F.,05021
1,ANTON,Antonio Moreno Taquería,Antonio Moreno,México D.F.,05023
2,CENTC,Centro comercial Moctezuma,Francisco Chang,México D.F.,05022
3,PERIC,Pericles Comidas clásicas,Guillermo Fernández,México D.F.,05033
4,TORTU,Tortuga Restaurante,Miguel Angel Paolino,México D.F.,05033

In [16]:
df.to_csv("CustomerDetials.csv")

### Question 2 (25 marks)

- (a) Create a NumPy ndarray containing all even numbers between 200 and 799. [5 marks]

In [44]:
import numpy as np

arr = np.array([])

type(arr)

numpy.ndarray

In [45]:
for i in range(200,799):
    if  i % 2 == 0 :
        arr = np.append(arr,i)

- (b) Modify the array so that it becomes a 2-D array containing 25 rows and 12 columns. [5 marks]

In [46]:
arr = arr.reshape(25,12)

- (c) Using indexing and slicing, select all data from the third and fourth columns. [5 marks]

In [47]:
print(arr[:,3] , arr[:,4])

[206. 230. 254. 278. 302. 326. 350. 374. 398. 422. 446. 470. 494. 518.
 542. 566. 590. 614. 638. 662. 686. 710. 734. 758. 782.] [208. 232. 256. 280. 304. 328. 352. 376. 400. 424. 448. 472. 496. 520.
 544. 568. 592. 616. 640. 664. 688. 712. 736. 760. 784.]

- (d) Using an appropriate function, split the array into 4 arrays column-wise. [5 marks]

In [52]:
splited_arr = np.hsplit(arr,4)

- (e) On the first of the split arrays, sum up the row values for the 1st and 3rd columns. [5 marks]

In [60]:
sum_1 = 0
sum_3 = 0
for i in range(len(splited_arr[0][1])):
    sum_1 += splited_arr[0][1][i]
    sum_3 += splited_arr[0][3][i]

print("Sum of 1st row values ", sum_1)
print("Sum of 3rd row values ", sum_3)

Sum of 1st row values  678.0
Sum of 3rd row values  822.0

### Question 3 (20 marks)

### Given the following string:

`Betty Botter bought some butter
But she said the butter’s bitter
If I put it in my batter, it will make my batter bitter
But a bit of better butter will make my batter better
So ‘twas better Betty Botter bought a bit of better butter
`

- (a) Using regular expressions, write a single function to highlight the words “batter” and “bitter” if
    they appear anywhere in a line. [10 marks]
    
    The text produced by your code look like this:
`Betty Botter bought some butter
But she said the butter’s {bitter}
If I put it in my {batter}, it will make my {batter} {bitter}
But a bit of better butter will make my {batter} better
So ‘twas better Betty Botter bought a bit of better butter`

In [66]:
import re

text = "Betty Botter bought some butter But she said the butter’s bitter If I put it in my batter, it will make my batter bitter But a bit of better butter will make my batter betterSo ‘twas better Betty Botter bought a bit of better butter "

def regx_function(text):
    pattern = r'\b(batter|bitter)\b'
    result = re.sub(pattern, r'{\1}', text)
    return result

print(regx_function(text))

Betty Botter bought some butter But she said the butter’s {bitter} If I put it in my {batter}, it will make my {batter} {bitter} But a bit of better butter will make my {batter} betterSo ‘twas better Betty Botter bought a bit of better butter

- b) Write a function that uses regular expressions to extract all the numeric digits and returns them as a list.

In [68]:
import re

text = "The price of item A is $19.99, item B is $29.50, and item C is $15.00. Don't forget to check out our special offer: Buy 2, get 1 free!"

def regx_function(text):
    pattern = r'\d+'
    result = re.findall(pattern,text)
    return result

print(regx_function(text))

['19', '99', '29', '50', '15', '00', '2', '1']